@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus{
  border: #adff2f;
}
body{
  font-size: 2rem;
  font-family: 'Titillium Web', sans-serif; 
  background-color: #000;
  color:  #fff;
}


/* entire layout */

.grid{
  display: grid;
}

.grid--2-cols{
  grid-template-columns: 1fr 1fr;
}

.grid--3-cols{
  grid-template-columns: repeat(3,1fr);
}

/* main header command */
.primary-header{
  font-weight: 700;
  font-size: 1.6rem;
}

/* button command */
button{
  padding: .45rem 1rem;
  border: none;
  background-color:#adff2f;
  border-radius: 18px;
  transition: all 0.5s;
  text-transform: uppercase;
}

button:active,button:hover{
  background-color: #456613;

}

/* trick */
.margin-left{
  margin-left: 20px;
}

.primary-title{
  text-transform: uppercase;
  border-bottom: 4px solid #456613;
}