a{
  scroll-behavior: smooth;
} 


/* --------------------------------- header --------------------------------- */
header{
  padding: 4px;
  border-bottom: 4px solid #456613;
  text-transform: uppercase;
  
}

nav{
  display: flex;
  justify-content: space-around;
}

.nav-menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.nav-menu li a{
  text-decoration: none;
  color: #fff;
}
/* social list */
.social-menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  list-style: none;
  transition: all 0.5s;
}

.social-menu li a {
  color: #fff;
}

/* social effect */
.social-menu li :active,
.social-menu li :hover{ 
  /* transform: translate(20px ,20px);
  transform:scale(2,2) */
  color: #456613;
}

/* -------------------------------- home page command ------------------------------- */

.home-page{
  margin: 4.4rem 2.2rem;
  /* background-color: #0b0c10; */
}

.profile-img{
  width: 80%;
}

.profile-container{
  width: 550px;
  font-size: 1rem;
  padding: 40px 22px;
  /* border: 2px solid#0b0c10; */
}

.profile-objective{
  margin-bottom: 8px;
}

/* home page btn */


/* computer langauge */
.skill-container{
  margin-bottom: 8px;
  font-size: 2rem;
}

.skill-menu{
  display: flex;
  gap: 45px;
  list-style: none;
}

.skill-menu li a {
  color: #000;
}

/* ------------------------------- home-page command ------------------------------- */
/* -------------------------- project page command -------------------------- */
.project-page {
  margin: 2.2rem 2.2rem;
}

/* project image */
.project-img {
  width: 100%;
  height: 100%;
  width: 500px;
}

.project-card {
  width: 65rem;
  margin: 20px auto;
  color: #000;
  background-color: aliceblue;
  /* box-shadow: 0px 12px 12px #000; */
  /* border: 2px solid#0b0c10; */
}

.secondary-header{
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.project-description{
  margin-bottom: 30px;
}
.word-project{
  margin-top: 100px;
  font-size: 1rem;
}

/* button for project */
.project-link{
  margin-left: 180px;
}
.project-link a {
  font-weight: 700px;
  color: #000;
}
.project{
  gap: 20px;
  border: 2px solid #000;
}

/* -------------------------- project page command -------------------------- */
/* ----------------------------- certicate-page ----------------------------- */
.certificate-page{
  margin: 2.2rem 2.2rem;
}

.certificate-container {
  margin: 2.2rem 2.2rem;
}

.content-award{
  width: 100%;

}
/* ////////////////////////////////////////////////////////// */

/* -------------------------------- cta page -------------------------------- */
.cta-page{
  margin: 2.2rem 2.2rem;
}


.cta-container{
  background-color: #006E84;
  margin: 2.2rem auto;
  width: 64rem;
  height: 34rem;
}

.idea-img{
  width: 32rem;
  height:34rem;
}

label{
  display: inline;
}

input,textarea{
  padding: 0.5rem;
}
input{
  height: 2rem
}
input::placeholder,textarea::placeholder{
  color: #aaa;
}

form{
  display: grid;
  grid-template-columns: 1fr;
  padding: 2.2rem 3rem;
}

form div{
  display: grid;
  grid-template-columns: 1fr;
}


textarea{
  margin: 2.2rem 0rem;
}
.cta-input{
  margin-top: 20px;
}



.btn-cta{
  margin: 0 auto;
  width: 80px;
}


/* --------------------------------- footer page command --------------------------------- */

footer{
  padding: 12px;
  text-align: center;
}

blockquote{
  font-size: 16px;
}

/* ///////////////////////////////////////////////////////////////////////////////////// */