@media screen and (max-width:768px) {
  .home{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr ;
    justify-content: center;
    align-items: center;
  }
  .profile-container{
    width: 420px;
    /* margin-left: -20px; */
    border: 2px solid#fff;

  }
  .profile-img{
    width: 100%
  }
  
}


@media screen  and (max-width:900px){
  .home{
    display: inline;
    justify-content: center;
    align-items: center;
  }
  
}